@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
}

.text-vertical {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #090311;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #82798C;
    border-radius: 5px;
}

::selection {
    background: #7B03FC;
    color: white;
}